<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.yourapp">

    <!-- 권한 선언은 <manifest> 직후, <application> 외부에 위치해야 함 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:usesCleartextTraffic="true"
        tools:replace="android:appComponentFactory"
        tools:targetApi="28"
        tools:ignore="GoogleAppIndexingWarning">
        <!-- 기타 application 관련 설정 -->
    </application>
</manifest>
